In [25]:
import pandas as pd

In [26]:
import numpy as np

### HW
- 1. Create 5 random variables range from 200~1200 with 50 data points called a-e.
- 2. Create one variable range from 1-5 called group1
- 3. Create one variable range from a-c called group2

- 4. Use group by with sum, mean, median, sd, and get the first value or last value from the index to aggregate
- 5. Use pivot_table to replicate the result from 4
- 6. Use melt to have a data set as follows from 5
- - Field, value, type
- 7. Utilize apply lambda for free calculation
- 8. Visualize per group with boxplot and one additional of you choice.

In [5]:
np.random.uniform(200,1200,50)

array([ 537.17360597,  914.92104249,  200.28808045, 1026.62437944,
        672.81750394,  531.47216232,  502.21687186,  955.79806567,
       1193.86218325,  354.05147351,  503.89232354, 1082.75083888,
        251.60331051,  647.37381765,  944.982345  ,  873.20474424,
        808.30727782,  755.39383929,  430.08395638,  547.01459485,
        515.58138434,  315.73388597, 1010.9573228 , 1007.81678806,
       1199.45683911,  455.71211479,  813.91591366,  759.90138747,
        883.43619372,  635.49625129,  477.17347503, 1095.58494961,
        746.21410268, 1195.54182979, 1065.24724383,  650.48416231,
        667.22090145,  737.55715958,  883.72906501, 1145.19690531,
        712.84692061,  747.16794132,  695.35057075,  480.80383671,
        970.80972892,  727.27065765, 1116.1021078 ,  490.21052159,
        731.72640254,  761.63397704])

In [36]:
import os
os.path.dirname('')

''

In [20]:
np.random.randint(1,5,50)

array([4, 2, 4, 4, 4, 4, 3, 1, 2, 3, 3, 2, 2, 3, 2, 2, 2, 4, 1, 3, 2, 2,
       3, 2, 4, 4, 1, 3, 3, 2, 1, 2, 3, 1, 3, 3, 1, 2, 3, 2, 2, 2, 3, 4,
       1, 2, 1, 1, 4, 1])

In [23]:
['a' for i in range(50)]

['a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a']

In [44]:
a = [1,2,3,4,5]
b = [7,8,9,0,2]

c = ['a','a','b','b','b']
df2 = pd.DataFrame({'a':a,'b':b,'c':c})

In [47]:
df2

   a  b  c
0  1  7  a
1  2  8  a
2  3  9  b
3  4  0  b
4  5  2  b

In [48]:
df = pd.DataFrame({'a':a+b,'c':c+c})
df#same as melt

   a  c
0  1  a
1  2  a
2  3  b
3  4  b
4  5  b
5  7  a
6  8  a
7  9  b
8  0  b
9  2  b

In [38]:
df['월']=5

In [49]:
df.merge(df2,on='a',how='left')

   a c_x    b  c_y
0  1   a  7.0    a
1  2   a  8.0    a
2  3   b  9.0    b
3  4   b  0.0    b
4  5   b  2.0    b
5  7   a  NaN  NaN
6  8   a  NaN  NaN
7  9   b  NaN  NaN
8  0   b  NaN  NaN
9  2   b  8.0    a

In [40]:
df.to_csv('qd.csv',index=False)

In [8]:
df.sum(axis=0)

a    15
b    26
dtype: int64

In [6]:
df.sum(axis=1)

0     8
1    10
2    12
3     4
4     7
dtype: int64

In [12]:
df.loc[df['a']==5,:]

   a  b
4  5  2

In [16]:
def applier(x):
    a1 = x[0]*x[1]
    return a1
df.apply(lambda x:applier(x),axis=1)

0     7
1    16
2    27
3     0
4    10
dtype: int64

In [17]:
df['a']*df['b']

0     7
1    16
2    27
3     0
4    10
dtype: int64

In [18]:
df.iloc[1:,]

   a  b
1  2  8
2  3  9
3  4  0
4  5  2

In [21]:
df.groupby(['c']).sum()

    a   b
c
a   3  15
b  12  11

In [22]:
df.pivot_table(index = None,columns=['c'],aggfunc=sum)

c   a   b
a   3  12
b  15  11

In [242]:
np.array(df)

array([[1, 7, 'a'],
       [2, 8, 'a'],
       [3, 9, 'b'],
       [4, 0, 'b'],
       [5, 2, 'b']], dtype=object)

In [27]:
df.pivot_table(index = ['c'],columns=None,aggfunc=sum)

    a   b
c
a   3  15
b  12  11

%md

# 1. This is my first documentation in jupyterlab
- hi

In [82]:
# del class_loader

In [134]:
from class_loader_f import class_loader

In [111]:
python

NameError: name 'python' is not defined

In [52]:
a = class_loader.MyFirstClass()

In [53]:
a.first_method()

my first_method working

15

In [54]:
a.second_method()

my second method working

13.0

In [56]:
a.third_method()

my third method working

In [141]:
a = class_loader.MyThirdClass(1,2)

In [107]:
a.calculate_multiplying_sum_by_z(3)

9

In [167]:
a= class_loader.MyFourthClass('tadsfsd')

In [169]:
'Q'.lower()

'q'

In [202]:
class MyFourthClass(str):
    import re
    def __init__(self, 
                 text
                ):
        self.text = text
        self.result = self.my_custom_concat(self.my_custom_lower(text))
    # override the builtin lower() method
    def my_custom_lower(self,text):
        # inherit the original lower()'s return value..? which is from the built-in str class
        init_txt = text.lower()
        return init_txt
    def my_custom_concat(self,text):
        init_txt = re.sub(' ','',text)
        return init_txt

In [203]:
a = MyFourthClass('qWDQWDQWDWQfwefewf wfwef ewfqwe123')

a.result

'qwdqwdqwdwqfwefewfwfwefewfqwe123'

In [209]:
a = []
b = ''
for i in 'qWDQWDQWDWQfwefewf wfwef ewfqwe123'.split(' '):
    b+=i
b

'qWDQWDQWDWQfwefewfwfwefewfqwe123'

In [213]:
''.join([i for i in 'qWDQWDQWDWQfwefewf wfwef ewfqwe123'.split(' ')]).lower()

'qwdqwdqwdwqfwefewfwfwefewfqwe123'

In [217]:
b = {ind:i for ind,i in enumerate('qWDQWDQWDWQfwefewf wfwef ewfqwe123'.split(' ') ) }

In [226]:
for i in b.items():
    i

(0, 'qWDQWDQWDWQfwefewf')
(1, 'wfwef')
(2, 'ewfqwe123')

In [229]:
%%timeit

for i in b.items():
    i

193 ns ± 5.08 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [230]:
a = {1,2,3}

In [232]:
%%timeit
1 in a

31.7 ns ± 0.721 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [233]:
a = [1,2,3]

In [234]:
%%timeit
1 in a

30.9 ns ± 0.463 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [256]:
bb = re.search('a','qwdqwdqwd23wdwqdwqdqwd')
if bb is not None:
    print('s')
else:
    print('b')

b

In [254]:
pass;
continue;
break;

True

In [259]:
import typing

In [334]:
class m:
    def __init__(self,
                 c,
                 a=9,
                 b=1,
                 
                 *args, **kwargs,
                ):
        print(kwargs,**kwargs)
        self.a = a+b+c
        self.d = kwargs

In [307]:
m(1).a

11

In [308]:
m(1,2,2).a

5

In [344]:
def total_fruits(**kwargs):
    print(kwargs, type(kwargs))


total_fruits(banana=5, mango=7, apple=8)

{'banana': 5, 'mango': 7, 'apple': 8} <class 'dict'>

In [400]:
class m:
    def __init__(self,
                 # c=1,
                 *args,**kwarg
                ):
        print(args)
        print( sum([i for i in args]))

In [401]:

m(1,2,3,123,12,312,3,213,12)

(1, 2, 3, 123, 12, 312, 3, 213, 12)
681

In [ ]:

m(1,2,3,123,12,312,3,213,12)

In [276]:
{
    
**    {'a':10},
**    {'b':33,'c':20}


}

{'a': 10, 'b': 33, 'c': 20}

In [343]:
m(a=10,b=33,c=20).a

{}

63

In [283]:
[*[1],*[2]]

[1, 2]

In [296]:
m(*[2,2,2]).a

6

In [ ]:
None